<div class="order-column">
    <h2>Selected Items</h2>
    <ul id="selected-items-list">
        <% for (let item in selectedItems) { %>
            <li>
                <strong><%= item %></strong> - 
                <%= selectedItems[item].quantity %> x $<%= selectedItems[item].price.toFixed(2) %> 
                = $<%= (selectedItems[item].quantity * selectedItems[item].price).toFixed(2) %>
            </li>
        <% } %>
    </ul>
    <h3>Total: $<span id="total-amount"><%= total.toFixed(2) %></span></h3>
    <form action="/clear-cart" method="POST">
        <button type="submit">Clear Order</button>
    </form>
</div>